@keyframes header-animation {
    0%{ content: "|";}
    1.5%{ content: "p|";}
    3%{ content: "ph|";}
    4.5%{ content: "pho|";}
    6%{ content: "phot|";}
    7%{ content: "photo|";}
    8%{ content: "photog|";}
    9%{ content: "photogr|";}
    10%{ content: "photogra|";}
    11%{ content: "photograp|";}
    12%{ content: "photograph|";}
    13%{ content: "photographe|";}
    14%{ content: "photographer|";}
    16%{ content: "photographer|";}
    18%{ content: "photographe|";}
    19%{ content: "photograph|";}
    20%{ content: "photograp|";}
    21%{ content: "photogra|";}
    22%{ content: "photogr|";}
    23%{ content: "photog|";}
    24%{ content: "photo|";}
    25%{ content: "phot|";}
    26%{ content: "pho|";}
    27%{ content: "ph|";}
    28%{ content: "p|";}
    29%{ content: "|";}
    30%{ content: "D|";}
    31%{ content: "De|";}
    32%{ content: "Des|";}
    33%{ content: "Des|";}
    34%{ content: "Desi|";}
    35%{ content: "Desig|";}
    36%{ content: "Design|";}
    37%{ content: "Designe|";}
    39%{ content: "Designer|";}
    42%{ content: "Designer|";}
    43%{ content: "Designe|";}
    44%{ content: "Design|";}
    45%{ content: "Desig|";}
    46%{ content: "Desi|";}
    47%{ content: "Des|";}
    48%{ content: "De|";}
    49%{ content: "Dev|";}
    50%{ content: "Deve|";}
    51%{ content: "Devel|";}
    52%{ content: "Develo|";}
    53%{ content: "Develop|";}
    54%{ content: "Develope|";}
    56%{ content: "Developer|";}
    58%{ content: "Developer|";}
    59%{ content: "Develope|";}
    60%{ content: "Develop|";}
    61%{ content: "Develo|";}
    62%{ content: "Devel|";}
    63%{ content: "Deve|";}
    64%{ content: "Dev|";}
    65%{ content: "De|";}
    66%{ content: "D|";}
    67%{ content: "|";}
    68%{ content: "F|";}
    69%{ content: "Fr|";}
    80%{ content: "Fre|";}
    81%{ content: "Frel|";}
    82%{ content: "Frela|";}
    83%{ content: "Frelan|";}
    84%{ content: "Frelanc|";}
    85%{ content: "Frelance|";}
    86%{ content: "Frelancer|";}
    87%{ content: "Frelancer|";}
    88%{ content: "Frelancer|";}
    89%{ content: "Frelance|";}
    90%{ content: "Frelanc|";}
    91%{ content: "Frelan|";}
    92%{ content: "Frela|";}
    93%{ content: "Frel|";}
    94%{ content: "Fre|";}
    95%{ content: "Fr|";}
    96%{ content: "F|";}
    97%{ content: "|";}
    100%{ content: "|";}
}